/*********************** Header styling *******************************/
.work-sans-headerName {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 2em;
  font-style: normal;
}

.logo {
  padding-right: 1pc;
  padding-top: 0.4pc;
}